.mobile-menu-item {
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-self: center;
    margin-bottom: .5rem;
    font-weight: 600;
}

.post-list-item {
    border-bottom: 1px solid $gray-200;
}

.dark {
    .post-list-item {
        border-bottom: 1px solid $gray-700;
    }
}

.post-list-item-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    aspect-ratio: 1;
    font-size: 1.25rem;
}

.post-list-item-short-content {
    position: relative;
    p {
        position: absolute;
        top: 0;
        left: 0;
    }
    // transition: $transition;
    opacity: 1;
    &.hidden {
        opacity: 0;
    }
}